<div data-controller="speak show grid" class="mx-auto w-full mt-4 pb-6" data-predefined="<%= @board.predefined %>">
    <h1 class="text-center text-2xl md:text-3xl font-bold my-2 text-gray-800">
        <%= @board.name.titleize %>
    </h1>
    <div class="flex justify-around">
        <%= link_to "Sign Up to Customize", new_user_registration_path, class: "border-2 border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white px-4 py-2 rounded-md text-sm font-medium transition duration-300 ease-in-out" %>
        <%= link_to "View Fullscreen Mode", locked_board_path(@board), class: "border-2 border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white px-4 py-2 rounded-md text-sm font-medium transition duration-300 ease-in-out" %>
        
    </div>

    <div class="flex justify-center items-center">
        <div class="mb-3">
            <%= label_tag "number_of_columns", "Columns", class: "text-sm font-xs text-gray-700" %>
            <%= select_tag "number_of_columns", options_for_select(Board.grid_sizes, @board.number_of_columns.to_s), class: "bg-white border border-gray-300 rounded-md shadow-sm py-2 px-3 block sm:text-sm transition duration-300 ease-in-out", data: { grid_target: "number_of_columns", action: "change->grid#changeGrid" } %>
        </div>
    </div>

    <% if @board.parent_type == "Menu" %>
    <%# Nothing right now %>
    <% else %>
    <div id="<%= dom_id @board %>_images" class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-5 gap-1 p-2 text-sm" data-grid-target="grid">
        <% @board.images.each do |image| %>
            <div class="text-center bg-white rounded-lg shadow-md overflow-hidden">
                <div class="text-center bg-white rounded-lg shadow-md overflow-hidden h-full">
                    <div id="<%= dom_id image %>" class="w-full h-max cursor-pointer" data-controller='speak' data-speak-label="<%= image.label&.downcase %>" data-action="click->speak#speak">
                        <div class="items-center text-center" id="<%= image.label %>">
                        <%= display_image_for(image, current_user) %>
                        </div>
                    </div>
                    <div class="relative text-wrap">
                        <p class="text-sm font-semibold text-gray-700 py-1 mt-2 block m-1"><%= image.display_label %></p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
</div>
