
<%= form_with(model: @prompt_template, class: "bg-white p-4 md:px-8 rounded-lg shadow-md") do |form| %>
  <% if @prompt_template.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prompt_template.errors.count, "error") %> prohibited this @prompt_template from being saved:</h2>

      <ul>
        <% @prompt_template.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <div class="col-span-2 mb-4 text-center ">
      <%= form.label :prompt_text, "Prompt Text", class: "block text-gray-700 font-bold mb-2" %>
      <p class="text-xs text-gray-500 my-2">Please enter the scenario you would like to create a communication board for.</p>
      <%= form.text_area :prompt_text, placeholder: "Ex: 'First day at a new job', 'Going to the doctor' or 'Getting ready for bed'.", class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-5/6 mx-auto", rows: 8 %>
    </div>
    <div class="col-span-2 mb-4 text-center ">
      <%= form.label :method_name, "Method", class: "block text-gray-700 font-bold mb-2" %>
      <p class="text-xs text-gray-500 my-2">Please enter the scenario you would like to create a communication board for.</p>
      <%= form.text_field :method_name %>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-2">

    <div class="mb-4 text-center">
      <%= form.label :quantity, "How many images would you like to add?", class: "block text-gray-700 font-bold mb-2" %>
      <%= form.select :quantity, 6..36, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full" %>
    </div>
    
  </div>
  <div class="mb-4 flex justify-between"> 
    <%= link_to "cancel", prompt_templates_path, class: "text-red-500 hover:text-red-700 font-medium py-2 px-4 rounded-md" %>
    <%= form.submit "Save", class: "text-white bg-green-500 hover:bg-green-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %> 
  </div>
<% end %>
