<div id="<%= dom_id prompt_template %>">
  <p>
    <strong>User:</strong>
    <%= prompt_template.user_id %>
  </p>

  <p>
    <strong>Prompt text:</strong>
    <%= prompt_template.prompt_text %>
  </p>

  <p>
    <strong>Revised prompt:</strong>
    <%= prompt_template.revised_prompt %>
  </p>

  <p>
    <strong>Send now:</strong>
    <%= prompt_template.send_now %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prompt_template.description %>
  </p>

  <p>
    <strong>Sent at:</strong>
    <%= prompt_template.sent_at %>
  </p>

  <p>
    <strong>Private:</strong>
    <%= prompt_template.private %>
  </p>

  <p>
    <strong>Age range:</strong>
    <%= prompt_template.age_range %>
  </p>

  <p>
    <strong>Number of images:</strong>
    <%= prompt_template.quantity %>
  </p>

  <p>
    <strong>Token Limit:</strong>
    <%= prompt_template.method_name %>
  </p>

  <p>
    <strong>Response type:</strong>
    <%= prompt_template.response_type %>
  </p>

</div>
