<div id="<%= dom_id prompt_template %>">
  <p>
    <strong>Prompt text:</strong>
    <%= prompt_template.prompt_text %>
  </p>

  <p>
    <strong>Revised prompt:</strong>
    <%= prompt_template.revised_prompt %>
  </p>

  <p>
    <strong>Number of images:</strong>
    <%= prompt_template.quantity %>
  </p>

  <p>
    <strong>Token Limit:</strong>
    <%= prompt_template.method_name %>
  </p>

  <p>
    <strong>Response type:</strong>
    <%= prompt_template.response_type %>
  </p>

</div>
