<%= form_with(model: menu, data: { controller: "image-parser" }, class: "bg-white p-4 rounded-lg shadow-md mx-auto max-w-lg text-center") do |form| %>
  <% if menu.errors.any? %>
    <div class="bg-red-100 text-red-700 p-3 rounded">
      <h2 class="font-bold"><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul class="list-disc list-inside">
        <% menu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.text_field :name, data: { image_parser_target: "name" }, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :token_limit, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.number_field :token_limit, in: 0..20, step: 1, class: "form-select mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    <p class="mt-2 text-md text-gray-500 font-semibold text-center">1 Token = 1 AI generated image</p>
    <p class="text-xs text-gray-500 text-center">Limits the number of tokens used to create a board from this menu.
      <br/>You can always generate images later or upload your own for FREE!
    </p>
  </div>
  <hr/>

  <%= form.fields_for :docs do |doc_form| %>
    <div class="mb-4">
      <%= doc_form.hidden_field :user_id, value: current_user.id %>
      <%= doc_form.hidden_field :raw, data: { image_parser_target: "image_description" }, class: "hidden" %>
      <%= doc_form.hidden_field :source_type, value: "User" %>
    </div>

    <div class="mb-4 text-center">
      <p class="text-xl font-semibold">Upload a menu image</p>
      <%= doc_form.file_field :image, data: { image_parser_target: "file", action: "change->image-parser#upload" }, class: "block w-full text-sm text-gray-700 py-2 px-3 rounded leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>

  <div class="bg-green-500 p-6 rounded-lg text-white hidden mb-3" data-image-parser-target="please_wait" id="pleaseWait">
    <p class="text-center">Please wait while we process your image...</p>
    <div class="flex justify-center mt-4">
      <span class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-white">
      </span>
    </div>
  </div>
  <div class="mb-4 flex justify-end">
    <%= form.submit "Save", class: "text-white bg-green-500 hover:bg-green-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor:pointer", data: { image_parser_target: "sumbit_button", action: "click->image-parser#submit" } %>
    <%= link_to "Cancel", menus_path, class: "text-red-500 hover:text-red-700 font-medium py-2 px-4 rounded-md border" %>
  </div>
<% end %>
