<div class="relative w-full">
  <h1 class="text-4xl font-bold text-blue-600 mb-6">
    <%= @menu.name %>
  </h1>

  <div class="p-4 border">
      <div class="my-auto w-1/3  bg-white p-4 rounded-lg shadow-md m-4">
        <% @menu.docs.each do |doc| %>
        <p class="text-xl font-bold text-blue-600 mb-6">
          <%= link_to doc.image.filename, doc %> <span class="text-sm text-gray-500">(<%= doc.created_at.strftime("%d/%m/%Y") %>)</span>
        </p>
          <%= render "menus/doc", doc: doc if doc.persisted? %>
        <% end %>
      </div>
  </div>


  <div class="mt-6 flex justify-end">
    <%= button_to "Edit this menu", edit_menu_path(@menu), method: :get, class: "text-blue-500 hover:text-blue-700 font-medium py-2 px-4 rounded-md" %>
    <%= button_to "Back to menus", menus_path, method: :get, class: "text-blue-500 hover:text-blue-700 font-medium py-2 px-4 rounded-md" %>
    <%= button_to "Destroy this menu", @menu, method: :delete, class: "text-red-500 hover:text-red-700 font-medium py-2 px-4 rounded-md" %>
  </div>
</div>
<hr>
