  <%= render "layouts/email_logo" %>
<p><%= t("user_mailer.confirm_update_email.greeting", email: @user.email) %></p>
<p><%= t("user_mailer.confirm_update_email.intro") %></p>
<p><%= t("user_mailer.confirm_update_email.old_email_label") %> <%= @old_email %></p>
<p><%= t("user_mailer.confirm_update_email.new_email_label") %> <%= @email %></p>
<p>
  <%= link_to t("user_mailer.confirm_update_email.cta"),
              @confirmation_url %>
</p>

<p><%= t("user_mailer.confirm_update_email.ignore") %></p>

<p><%= t("user_mailer.confirm_update_email.thanks") %></p>
<p><%= t("user_mailer.confirm_update_email.signature") %></p>
<p><a href="mailto:support@speakanyway.com">support@speakanyway.com</a></p>
