<div class="py-4"  data-controller="opensymbols">

<%= form_with url: open_symbols_path, method: :post do |form| %>

  <div class="field">
    <%= form.label :query %>
    <%= form.text_field :query %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= paginate @symbols %>
<div class="border p-4">
<% @symbols.each do |symbol| %>

  <div class="open-symbol flex justify-between items-center">
        <p class="text-md font-light mb-6"><%= link_to symbol.label, search_open_symbols_path(query: symbol.label) %></p>
        <%= image_tag symbol.image, class: "w-1/12 mx-auto" if symbol.image&.attached? && symbol.image&.representable? %>
        <%= image_tag symbol.image_url, class: "w-1/12 mx-auto" if !symbol.image&.attached? || !symbol.image&.representable? %>
    <p class="text-md font-light mb-6"><%= link_to symbol.name, open_symbol_path(symbol) %> <%= symbol.extension %></p>
  </div>
<% end %>
</div>
</div>