<h1><%= @symbol.name %><%= @symbol.label %></h1>
<p><%= @symbol.extension %>
Attached?: <%= @symbol.image&.attached? %><br>
Representable?: <%= @symbol.image&.representable? %><br>
Image URL: <%= @symbol.image_url %><br>
<% if @symbol.image&.attached? && @symbol.image.representable? %>
<%= image_tag(@symbol.image) %>
<p> Image Saved: <%= link_to @symbol.image.filename, @symbol.image_doc %></p>
<%= button_to "Make Image", make_image_open_symbol_path(@symbol), method: :post if @symbol.image_extension? %>
<% else %>


<%= image_tag @symbol.image_url, class: "w-1/4" %>
<%= button_to "Save Image", save_image_open_symbol_path(@symbol), method: :post if @symbol.image_extension? %>
<% end %>

<%= link_to "Back", open_symbols_path %>
<%= link_to "IMAGE", @symbol.matching_image if @symbol.matching_image %>

 <%= @symbol.inspect %>