<div class="mx-auto min-h-scree w-full md:w-4/5 lg:w-3/5">

  <div class="flex justify-between items-center border-b pb-4">
    <h1 class="text-3xl font-bold text-gray-800">ADMIN DASHBOARD </h1>
    <h1 class="text-xl font-light text-gray-800"><%= current_user.email %></h1>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
    <%= render "boards/table", boards: @boards %>

  <%= render "images/table", images: @images %>
    <div class="my-6 max-h-fit overflow-scroll">
      <h2 class="text-xl font-semibold text-gray-700">Beta Requests (<%= @beta_requests.count %>)</h2>
      <table class="table-auto w-full mt-2">
        <thead class="bg-gray-100">
          <tr>
            <th class="text-left py-3 px-4 uppercase font-semibold text-sm text-gray-600"> Email</th>
            <th class="text-right py-3 px-4 uppercase font-semibold text-sm text-gray-600">Created</th>
          </tr>
        </thead>
        <tbody class="text-gray-700">
          <% @beta_requests.each do |beta_request| %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-4"><%= beta_request.email %></td>
              <td class="text-right py-3 px-4"><%= beta_request.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="my-6 max-h-fit overflow-scroll">
      <h2 class="text-xl font-semibold text-gray-700">All Messages (<%= @messages.count %>)</h2>
      <table class="table-auto w-full mt-2">
        <thead class="bg-gray-100">
          <tr>
            <th class="text-right py-3 px-4 uppercase font-semibold text-sm text-gray-600">Subject</th>
            <th class="text-right py-3 px-4 uppercase font-semibold text-sm text-gray-600">User</th>
            <th class="text-right py-3 px-4 uppercase font-semibold text-sm text-gray-600">Created</th>
          </tr>
        </thead>
        <tbody class="text-gray-700">
          <% @messages.each do |message| %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="text-left py-3 px-4"><%= message.subject %></td>
              <td class="text-right py-3 px-4"><%= message.user_id %></td>
              <td class="text-right py-3 px-4"><%= message.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

