<div class="mx-auto min-h-scree w-full md:w-4/5 lg:w-3/5">

  <div class="flex justify-between items-center border-b pb-4">
    <h1 class="text-3xl font-bold text-gray-800">ADMIN DASHBOARD </h1>
    <h1 class="text-xl font-light text-gray-800"><%= current_user.email %></h1>
  </div>
  <div class="border-b pb-4">
    <h1 class="text-3xl font-bold text-gray-800">Word Events</h1>
    <h1 class="text-xl font-light text-gray-800">Total: <%= WordEvent.count %></h1>
    <% @word_events.each do |word_event| %>
      <div class="flex justify-between items-center border-b pb-4">
      <h1 class="text-3xl font-bold text-gray-800"><%= word_event.user %></h1>
        <h1 class="text-3xl font-bold text-gray-800"><%= word_event.word %></h1>
        <h1 class="text-xl font-light text-gray-800"> <%= word_event.previous_word %></h1>
      </div>
    <% end %>
  </div>

  <div class="relative justify-between items-center">
    <%= button_to "Set Next Words", set_next_words_images_path, class: "text-white bg-indigo-600 hover:bg-indigo-800 font-bold py-2 px-4 rounded-md transition duration-150 ease-in-out" if current_user.admin? %>
  </div>
  <div>
    <p class="text-center text-sm font-semibold">
      Without next words: <%= Image.public_img.non_menu_images.where(next_words: [], no_next: false).count %>
    </p>

  <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
    <%= render "boards/table", boards: @boards %>

  <%= render "images/table", images: @images %>
    <div class="my-6 max-h-fit overflow-scroll">
      <h2 class="text-xl font-semibold text-gray-700">Beta Requests (<%= @beta_requests.count %>)</h2>
      <table class="table-auto w-full mt-2">
        <thead class="bg-gray-100">
          <tr>
            <th class="text-left py-3 px-4 uppercase font-semibold text-sm text-gray-600"> Email</th>
            <th class="text-right py-3 px-4 uppercase font-semibold text-sm text-gray-600">Created</th>
          </tr>
        </thead>
        <tbody class="text-gray-700">
          <% @beta_requests.each do |beta_request| %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-4"><%= beta_request.email %></td>
              <td class="text-right py-3 px-4"><%= beta_request.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="my-6 max-h-fit overflow-scroll">
      <h2 class="text-xl font-semibold text-gray-700">All Messages (<%= @messages.count %>)</h2>
      <table class="table-auto w-full mt-2">
        <thead class="bg-gray-100">
          <tr>
            <th class="text-right py-3 px-4 uppercase font-semibold text-sm text-gray-600">Subject</th>
            <th class="text-right py-3 px-4 uppercase font-semibold text-sm text-gray-600">User</th>
            <th class="text-right py-3 px-4 uppercase font-semibold text-sm text-gray-600">Created</th>
          </tr>
        </thead>
        <tbody class="text-gray-700">
          <% @messages.each do |message| %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="text-left py-3 px-4"><%= message.subject %></td>
              <td class="text-right py-3 px-4"><%= message.user_id %></td>
              <td class="text-right py-3 px-4"><%= message.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

