<%= link_to "Back to #{@doc.documentable_type}", @doc.documentable, class: "text-blue-500 hover:text-blue-700 font-medium" %>
<div class="grid sm:grid-cols-1 md:grid-cols-2 gap-1">
  <div class=" bg-white p-4 rounded-lg shadow-md m-8">
    <%= render @doc, viewing_user: current_user %>
  </div>
  <div class="bg-white p-4 rounded-lg shadow-md m-8">
    <p class="text-4xl mb-3 font-bold"> <%= @doc.label&.upcase %></p>
    <hr>
    <p class="text-sm mb-3">Source: <%= @doc.source_type == "User" ? @doc.user&.email : @doc.source_type %></p>
    <p class="text-sm mb-3">Created <%= time_ago_in_words(@doc.created_at) %> ago</p>
    <hr>
  </div>

<% if current_user.admin? %>
  <div class="bg-white p-4 rounded-lg shadow-md m-8">
    <h3 class="text-lg font-semibold">Raw text:</h3>
    <p class="text-sm mb-3"><%= @doc.raw %></p>
    <hr>
    <h3 class="text-lg font-semibold mt-3">Processed text:</h3>
    <p class="text-sm"> <%= @doc.processed %></p>
  </div>
</div>
<% end %>