<%= link_to "Back to #{@doc.documentable_type}", @doc.documentable, class: "text-blue-500 hover:text-blue-700 font-medium" %>
<div class="grid sm:grid-cols-1 md:grid-cols-2 gap-1">
  <div class=" bg-white p-4 rounded-lg shadow-md m-8">
    <%= render @doc, viewing_user: current_user %>
  </div>
  <div class="bg-white p-4 rounded-lg shadow-md m-8">
    <h3 class="text-lg font-semibold">Doc Info:</h3>
    <p class="text-sm mb-3">Documentable Type: <%= @doc.documentable_type %></p>
    <p class="text-sm mb-3">Documentable ID: <%= @doc.documentable_id %></p>
    <p class="text-sm mb-3">Documentable Title: <%= @doc.documentable.label %></p>
    <p class="text-sm mb-3">Documentable User: <%= @doc.documentable.user&.email || "NONE" %></p>
    <p class="text-sm mb-3">Created at: <%= time_ago_in_words(@doc.created_at) %> ago</p>
    <p class="text-sm mb-3">Updated at: <%= time_ago_in_words(@doc.updated_at) %> ago</p>
    <hr>
  </div>

  <div class="bg-white p-4 rounded-lg shadow-md m-8">
    <h3 class="text-lg font-semibold">Raw text:</h3>
    <p class="text-sm mb-3"><%= @doc.raw_text %></p>
    <hr>
    <h3 class="text-lg font-semibold mt-3">Processed text:</h3>
    <p class="text-sm"> <%= @doc.processed_text %></p>
  </div>
</div>
