<%= link_to "Back to #{@doc.documentable_type}", @doc.documentable, class: "text-blue-500 hover:text-blue-700 font-medium" %>
<div class="grid sm:grid-cols-1 md:grid-cols-2 gap-1">
  <div class=" bg-white p-4 rounded-lg shadow-md m-8">
    <%= render @doc, viewing_user: current_user %>
  </div>
  <div class="bg-white p-4 rounded-lg shadow-md m-8">
    <h3 class="text-lg font-semibold">Doc Info:</h3>
     <%= @doc.source_type %>
    <p class="text-4xl mb-3">Documentable Title: <%= @doc.label %></p>
    <p class="text-3xl mb-3">Processed Text: <%= @doc.processed %></p>
    <hr>
    <p class="text-sm mb-3">Source: <%= @doc.source_type %></p>
    <p class="text-sm mb-3"> User: <%= @doc.user&.email || "NONE" %></p>
    <p class="text-sm mb-3">Created at: <%= time_ago_in_words(@doc.created_at) %> ago</p>
    <p class="text-sm mb-3">Updated at: <%= time_ago_in_words(@doc.updated_at) %> ago</p>
    <hr>
        <%= render "move", doc: @doc if current_user.can_edit?(@doc) %>
    <%= render "find_or_create", doc: @doc, generate_image: true if current_user.can_edit?(@doc) %>

  </div>

  <div class="bg-white p-4 rounded-lg shadow-md m-8">
    <h3 class="text-lg font-semibold">Raw text:</h3>
    <p class="text-sm mb-3"><%= @doc.raw %></p>
    <hr>
    <h3 class="text-lg font-semibold mt-3">Processed text:</h3>
    <p class="text-sm"> <%= @doc.processed %></p>
  </div>
</div>
