<%= link_to "Back to #{@doc.documentable_type}", @doc.documentable, class: "text-blue-500 hover:text-blue-700 font-medium" %>
<div class="grid sm:grid-cols-1 md:grid-cols-2 gap-1">
  <div class=" bg-white p-4 rounded-lg shadow-md m-8">
    <%= render @doc, viewing_user: current_user %>
  </div>

  <div class="bg-white p-4 rounded-lg shadow-md m-8">
    <h3 class="text-lg font-semibold">Raw text:</h3>
    <p class="text-sm mb-3"><%= @doc.raw_text %></p>
    <hr>
    <h3 class="text-lg font-semibold mt-3">Processed text:</h3>
    <p class="text-sm"> <%= @doc.processed_text %></p>
  </div>
</div>
<hr>

<div>
  <%= link_to "Edit this doc", edit_doc_path(@doc) %> |
  <%= link_to "Back to docs", docs_path %>

  <%= button_to "Destroy this doc", @doc, method: :delete %>
</div>
