<div id="<%= dom_id openai_prompt %>">
  <p>
    <strong>User:</strong>
    <%= openai_prompt.user_id %>
  </p>

  <p>
    <strong>Prompt text:</strong>
    <%= openai_prompt.prompt_text %>
  </p>

  <p>
    <strong>Revised prompt:</strong>
    <%= openai_prompt.revised_prompt %>
  </p>

  <p>
    <strong>Send now:</strong>
    <%= openai_prompt.send_now %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= openai_prompt.description %>
  </p>

  <p>
    <strong>Sent at:</strong>
    <%= openai_prompt.sent_at %>
  </p>

  <p>
    <strong>Private:</strong>
    <%= openai_prompt.private %>
  </p>

  <p>
    <strong>Age range:</strong>
    <%= openai_prompt.age_range %>
  </p>

  <p>
    <strong>Number of images:</strong>
    <%= openai_prompt.number_of_images %>
  </p>

  <p>
    <strong>Token Limit:</strong>
    <%= openai_prompt.token_limit %>
  </p>

  <p>
    <strong>Response type:</strong>
    <%= openai_prompt.response_type %>
  </p>

</div>
