<div id="<%= dom_id board %>">
  <p>
    <strong>User:</strong>
    <%= board.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= board.name %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= board.parent_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= board.description %>
  </p>

</div>
