<%= link_to "Back", board_path(@board), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-1 rounded-full text-sm" %>
<%= button_tag "<i class='fas fa-expand'></i>".html_safe, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-1 rounded-full text-sm", data: {action: "click->pwa#fullscreen", pwa_target: "button"} %>
<div data-controller="speak pwa" class="mx-auto w-full mt-4 pb-3">
    <div class="flex flex-col justify-end mb-3">
        <div class="grid grid-cols-6 gap-1 p-2 mx-auto" id="word-list">
        <% @board.words.each do |word| %>
            <button class="bg-teal-300 text-sm font-medium flex justify-center items-center cursor-pointer p-1 border border-gray-300 rounded-md hover:bg-gray-100"  data-controller='speak' data-speak-label="<%= word.downcase %>" data-action="click->speak#speak">
                <%= word&.upcase %>
            </button>
        <% end %>
        </div>
    </div>

    <% if @board.parent_type == "Menu" %>
        <%= render "boards/menu", board: @board %>
    <% else %>
    <div class="flex justify-between bg-white mb-3 rounded-lg shadow-md sm:w-full md:w-2/3 mx-auto">
        <ul class="flex flex-wrap items-center justify-center text-gray-900 dark:text-white" id="the-list"></ul>
        <div class="flex justify-end items-center">
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 m-2 rounded-full text-sm" data-action="click->speak#clear">Clear</button>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 m-1 rounded-full text-sm" data-action="click->speak#speakList">Speak</button>
        </div>
    </div>
    <div id="<%= dom_id @board %>_images" class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-4 gap-2 p-2">
        <% @board.images.each do |image| %>
            <div class="text-center bg-white rounded-lg shadow-md overflow-hidden">
                <%= render image %>
            </div>
        <% end %>
    </div>
<% end %>
</div>
