<div class="bg-white p-3 h-full">
  <h1 class="text-4xl font-bold my-3">
    Boards
  </h1>
  <%= link_to "New Board", new_board_path, class: "text-blue-600 hover:text-blue-200 px-2 py-1 rounded-md text-sm font-medium border m-1" %>
  <%= turbo_stream_from(current_user) %>
  <%= render "utils/search", search_path: boards_path, show_user_images_only: false %>

  <%= paginate @boards %>
  <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-2 p-3">
    <div class="border p-2 md:p-3" id="my_boards">
      <h3 class="text-2xl font-bold text-gray-800 mb-4">My Boards ( <%= @boards.count %> )</h3>
      <% if @boards.empty? && !params[:query] %>
      <div class="flex justify-center items-center">
        <p class="text-gray-600">You have no boards yet.</p>
        <%= link_to "Create a new board", new_board_path, class: "text-blue-600 hover:text-blue-200 px-2 py-1 rounded-md text-sm font-medium border m-1" %>
      </div>
      <% elsif @boards.empty? && params[:query] %>
      <div class="flex justify-center items-center">
        <p class="text-gray-600">No boards found.</p>
      </div>
      <% else %>

      <ul class="list-none p-0 mt-3 h-80 md:h-128 overflow-scroll" id="boards">
        <%= render @boards.order(name: :asc) %>
      </ul>
      <% end %>
    </div>
    <div id="predefined_boards" class="border p-2 md:p-3 overflow-scroll">
      <h3 class="text-2xl font-bold text-gray-800 mb-4">Sample Boards</h3>
      <ul class="list-none p-0 mt-3 h-80 md:h-128 overflow-scroll">
        <% if @predefined_boards.empty? %>
        <div class="flex justify-center items-center">
          <p class="text-gray-600">No sample boards found.</p>
        </div>
        <% else %>
        <%= render @predefined_boards.order(name: :asc) %>
        <% end %>
      </ul>
    </div>
    </div>
    <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-2 p-3">
    <div id="predictive_boards" class="border p-2 md:p-3 overflow-scroll">
      <h3 class="text-2xl font-bold text-gray-800 mb-4">Predictive Boards</h3>
      <ul class="list-none p-0 mt-3 h-80 md:h-128 overflow-scroll">
        <% if @predictive_boards.empty? %>
        <div class="flex justify-center items-center">
          <p class="text-gray-600">No predictive boards found.</p>
        </div>
        <% else %>
        <%= render @predictive_boards.order(name: :asc) %>
        <% end %>
      </ul>
    </div>
    <div id="scenario_boards" class="border p-2 md:p-3 overflow-scroll">
      <h3 class="text-2xl font-bold text-gray-800 mb-4">Scenario Boards</h3>
      <ul class="list-none p-0 mt-3 h-80 md:h-128 overflow-scroll">
        <% if @scenario_boards.blank? %>
        <div class="flex justify-center items-center">
          <p class="text-gray-600">No scenario boards found.</p>
        </div>
        <% else %>
        <%= render @scenario_boards.order(name: :asc) %>
        <% end %>
      </ul>
      </div>
    </div>
</div>