
<div data-controller="resize" class="m-4 h-[calc(100vh-60px-32px)] w-[calc(100vw-32px)] overflow-hidden grid grid-cols-1 gap-1" data-resize-target="grid" data-grid-target="grid">
  <% @board.board_images.order(position: :asc).each do |board_image| %>
  <div class="flex relative w-full">
          <%= button_to "MoveUp", move_up_board_image_path(board_image), class: "text-white", method: :put %>
    <div class="flex relative w-full pb-full shadow hover:shadow-lg hover:cursor-pointer text-center <%= board_image.image.bg_class %> bg-opacity-90" data-controller="speak" data-speak-label="<%= board_image.image.label&.downcase %>" data-action="click->speak#speak">
    <p class="absolute top-0 left-0 m-1 text-white font-light p-1 text-xs rounded bg-black bg-opacity-70">
      <%= board_image.position %>
    </p> 
      <%= display_image_for_locked_board(board_image.image, current_user) %>
      <span class="grow absolute inset-x-0 bottom-0 font-light text-xs md:text-sm lg:text-md rounded-sm bg-white bg-opacity-80 overflow-hidden"><%= board_image.image.label %></span>
    </div>
    </div>
  <% end %>
</div>
