<div data-controller="speak show" class="mx-auto w-full mt-4 pb-6">
    <div class="flex justify-around m-5">
        <h1 class="text-center text-3xl md:text-4xl font-bold my-4 text-gray-800">
            <%= @board.name.titleize %>
        </h1>
        <%= button_to "Clone", clone_board_path(@board), method: :post, class: "bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-3 m-1 rounded-full text-sm" %>
        <%= content_tag(:button, "Add image", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-1 rounded-full text-sm", data: {action: "click->show#toggle"}) if current_user.can_edit?(@board) %>
    </div>

    <div class="p-4 w-full md:w-1/2 lg:w-1/3 mx-auto justify-end">
        <div class="hidden" data-show-target="target">
            <%= render "images/find_or_create", board: @board, generate_image: true %>
        </div>
    </div>
    <div class="flex flex-col justify-end mb-3">
        <div class="grid grid-cols-4 sm:grid-cols-4 md:grid-cols-8 lg:grid-cols-8 gap-1 p-2 mx-auto" id="word-list">
        <% @board.words.each do |word| %>
            <button class="bg-teal-300 text-md font-semibold flex justify-center items-center cursor-pointer px-2 py-1 md:px-4 md:py-3 border border-gray-300 rounded-md hover:bg-gray-100"  data-controller='speak' data-speak-label="<%= word.downcase %>" data-action="click->speak#speak">
                <%= word&.upcase %>
            </button>
        <% end %>
        </div>
    </div>

    <% if @board.parent_type == "Menu" %>
        <%= render "boards/menu", board: @board %>
    <% else %>
    <div class="flex justify-between bg-white mb-3 rounded-lg shadow-md sm:w-full md:w-2/3 mx-auto">
        <ul class="flex flex-wrap items-center justify-center text-gray-900 dark:text-white" id="the-list"></ul>
        <div class="flex justify-end items-center">
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 m-2 rounded-full text-sm" data-action="click->speak#clear">Clear</button>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 m-1 rounded-full text-sm" data-action="click->speak#speakList">Speak</button>
        </div>
    </div>
    <div id="<%= dom_id @board %>_images" class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-4 p-5">
        <% @board.images.each do |image| %>
            <div class="text-center bg-white rounded-lg shadow-md overflow-hidden">
                <%= render image %>
            </div>
        <% end %>
    </div>
<% end %>

<% if current_user.can_edit?(@board) %>
    <div class="flex justify-end items-center mb-4">
        <%= link_to "Edit", edit_board_path(@board), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-1 rounded-full text-sm" %>
        <%= button_to "Delete", @board, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 m-1 rounded-full text-sm" %>
    </div>
<% end %>

</div>
