<h1 class="mb-2 text-4xl font-bold text-gray-800"> <%= @board.name.blank? ? "no name" : @board.name %></h1>
<%= render @board %>

<div>
  <%= link_to "Edit this board", edit_board_path(@board) %> |
  <%= link_to "Back to boards", boards_path %>

  <%= button_to "Destroy this board", @board, method: :delete %>
</div>