<div id="<%= dom_id scenario %>">
  <p>
    <strong>Questions:</strong>
    <%= scenario.questions %>
  </p>

  <p>
    <strong>Answers:</strong>
    <%= scenario.answers %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= scenario.name %>
  </p>

  <p>
    <strong>Initial description:</strong>
    <%= scenario.initial_description %>
  </p>

  <p>
    <strong>Age range:</strong>
    <%= scenario.age_range %>
  </p>

</div>
