<p style="color: green"><%= notice %></p>

<%= render @beta_request %>

<div>
  <%= link_to "Edit this beta request", edit_beta_request_path(@beta_request) %> |
  <%= link_to "Back to beta requests", beta_requests_path %>

  <%= button_to "Destroy this beta request", @beta_request, method: :delete %>
</div>
