<%= form_with(model: @new_image_doc, local: true) do |form| %>
    <%= form.hidden_field :documentable_type, value: @image.class %>
    <%= form.hidden_field :documentable_id, value: @image.id %>
  <% if @new_image_doc.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@new_image_doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

      <ul>
        <% @new_image_doc.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-4">
    <p class="text-xl font-semibold">Upload an Image</p>
    <%= form.file_field :image %>
  </div>
  <div class="mb-4">
    <%= form.submit "Save", class: "text-white shadow rounded-lg py-2 px-4 bg-green-600 hover:bg-green-700 font-medium text-center", data: { ocr_target: "submit_button", disable_target: "button", action: "click->disable#disableForm" } %>
  </div>
<% end %>
