<div id="<%= dom_id image %>">
  <p>
    <strong>Label:</strong>
    <%= image.label %>
  </p>

  <p>
    <strong>Image prompt:</strong>
    <%= image.image_prompt %>
  </p>

  <p>
    <strong>Private:</strong>
    <%= image.private %>
  </p>

  <p>
    <strong>User:</strong>
    <%= image.user_id %>
  </p>

</div>
