
<div class="relative text-center <%= image.bg_color ? "bg-#{image.bg_color}-400" : "bg-white" %> bg-opacity-60 rounded-lg shadow-md overflow-hidden h-full p-1">
  <div id="<%= dom_id image %>" class="w-full h-max cursor-pointer" data-controller='speak' data-speak-label="<%= image.label&.downcase %>">
    <%= audio_tag_for_image(image, @board) if @board %>
    <%= link_to image, class: "w-full h-full", data: { turbo_frame: "_top" } do %>
    <div class="items-center text-center" id="<%= image.label %>">
      <%= display_image_for(image, @display_for || current_user) %>
    </div>
    <% end %>
    <% if action_name == "fullscreen" %>
    <div class="relative text-wrap">
      <p class="text-sm font-semibold text-gray-700 py-1 mt-2 block m-1"><%= image.display_label %></p>
    </div>
    <% else %>
    <div class=" text-wrap min-h-10 text-center">
    <% if current_user&.admin? %>
    <p class="absolute top-0 left-0 m-4 text-white font-bold p-2 rounded bg-black bg-opacity-70">
        <%= link_to "user_id: #{image.user_id}", image, class: "text-white", data: { turbo: "false" } %>
    </p>
    <% end %>
      <%= button_tag class: "text-sm font-medium text-gray-700 py-1 mt-2 block hover:text-blue-600 m-1 absolute bottom-0 inset-x-0", data: { speak_target: "speaker" } do %><%= speaker_icon(image.display_label) %><% end %>
      <%= image.generating? ? spinner : "" %>
      <%= remove_image_button(@board, image) if current_user.can_edit?(@board) %>
    </div> 
  <% end %>
    </div>
</div>  