<div class="text-center bg-white rounded-lg shadow-md overflow-hidden h-full">
  <div id="<%= dom_id image %>" class="w-full h-max cursor-pointer" data-controller='speak' data-speak-label="<%= image.label&.downcase %>" data-action="click->speak#speak">
    <div class="items-center text-center" id="<%= image.label %>">
      <%= display_image_for(image, current_user) %>
    </div>
  </div>
  <% if action_name == "fullscreen" %>
  <div class="relative text-wrap">
    <p class="text-sm font-semibold text-gray-700 py-1 mt-2 block m-1"><%= image.display_label %></p>
    </div>
    <% else %>
  <div class="relative text-wrap">
    <%= button_to "Create Symbols ", create_symbol_image_path(image), class: "text-white bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded" if current_user.admin? && image.open_symbol_status == "active" %>
    <%= link_to image.display_label, image, class: "text-xl font-semibold text-gray-700 py-1 mt-2 block hover:text-blue-600 m-1" %>

    <%= remove_image_button(@board, image) if current_user.can_edit?(@board) %>
  </div>
  <% end %>

</div>