
<div class="text-center bg-white rounded-lg shadow-md overflow-hidden h-full">
  <div id="<%= dom_id image %>" class="w-full h-max cursor-pointer" data-controller='speak' data-speak-label="<%= image.label&.downcase %>">
    <%= audio_tag(polymorphic_path(image.get_voice_for_board(@board)), controls: false, id: "audio-#{image.label.parameterize}", class: "hidden", data: {speak_target: "audio"}) if !image.get_voice_for_board(@board).blank? && @board&.present? %>
    <%= link_to image, class: "w-full h-full", data: { turbo_frame: "_top" } do %>
    <div class="items-center text-center" id="<%= image.label %>">
      <%= display_image_for(image, current_user) %>
    </div>
    <% end %>
    <% if action_name == "fullscreen" %>
    <div class="relative text-wrap">
      <p class="text-sm font-semibold text-gray-700 py-1 mt-2 block m-1"><%= image.display_label %></p>
    </div>
    <% else %>
    <div class="relative text-wrap min-h-10 text-center">

      <%= button_tag class: "text-sm font-medium text-gray-700 py-1 mt-2 block hover:text-blue-600 m-1 absolute bottom-0 inset-x-0", data: { speak_target: "speaker" } do %><%= speaker_icon(image.display_label) %><% end %>
      <%= image.generating? ? spinner : "" %>
      <%= remove_image_button(@board, image) if current_user.can_edit?(@board) %>
    </div> 
  <% end %>
    </div>
</div>  