
<div class="relative text-center <%= image.bg_class %> bg-opacity-50 rounded-lg shadow-md overflow-hidden p-1">
  <div id="<%= dom_id image %>" class="cursor-pointer h-full" data-controller='speak' data-speak-label="<%= image.label&.downcase %>">
    <div class="text-center bg-white bg-opacity-20 rounded-lg shadow-md overflow-hidden">
      <div class="items-center text-center" id="<%= image.label %>" data-action="click->speak#speak">
        <%= display_image_for(image, @display_for || current_user) %>
      </div>
      <div class="min-h-10 text-center">
      <% if current_user&.admin? %>
      <p class="absolute top-0 left-0 m-4 text-white font-bold p-2 rounded bg-black bg-opacity-70">
          <%= link_to "#{image.image_type} #{image.user_id}", image, class: "text-white", data: { turbo: "false" } %>
      </p>
      <% end %>
        <%= link_to image, class: "text-nowrap text-center text-xs md:text-sm lg:text-md font-semibold text-gray-700 py-1 block absolute bottom-0 left-0 m-1 w-full", data: { turbo_frame: "_top" } do %>
            <%= image.display_label %>
        <% end %>
        <%= image.generating? ? spinner : "" %>
        <%= remove_image_button(@board, image) if current_user.can_edit?(@board) %>
      </div> 
    </div>
  </div>
</div>  