<div class="text-center bg-white rounded-lg shadow-md overflow-hidden flex flex-col h-full">
  <div id="<%= dom_id image %>" class="basis-3/4 cursor-pointer hover:bg-green-200" data-controller='static-image' data-static-image-label="<%= image.label&.upcase %>" data-static-image-target="wrapper" data-action="click->static-image#speak">
      <%= audio_tag(polymorphic_path(image.get_voice_for_board(@board)), controls: false, id: "audio-#{image.label.parameterize}", class: "hidden", data: {speak_target: "audio"}) if !image.get_voice_for_board(@board).blank? && @board&.present? %>
    <div class="items-center text-center" id="<%= image.label %>">
      <%= display_image_for(image, current_user) %>
    </div>
  </div>
  <div class="relative text-wrap basis-1/4">
    <% if action_name == "fullscreen" %>
      <p class="relative text-xs font-semibold text-gray-700 py-1 block m-2 mr-3"><%= image.display_label %></p>
      <% else %>
      <%= link_to image, class: "text-xs font-semibold text-gray-700 py-1 block hover:text-blue-600 m-2 mr-3" do %>
        <%= change_image_icon(image.display_label) %>
      <% end %>
      <%= image.generating? ? loading_spinner : "" %>
      <%= remove_image_button(@board, image) if current_user.can_edit?(@board) %>
    <% end %>
    </div>
</div>