<div class="text-center bg-white rounded-lg shadow-md overflow-hidden h-full">
  <div id="<%= dom_id image %>" class="w-full h-max cursor-pointer" data-controller='static-image' data-static-image-label="<%= image.label&.upcase %>" data-static-image-target="wrapper" data-action="click->static-image#speak">
    <div class="items-center text-center" id="<%= image.label %>">
      <%= display_image_for(image, current_user) %>
    </div>
  </div>
  <div class="relative">
    <%= link_to image.label&.upcase, image, class: "text-xl font-semibold text-gray-700 py-2 mt-2 block hover:text-blue-600 m-2" %>

    <%= remove_image_button(@board, image) %>
  </div>
</div>