
<div class="flex justify-between items-center">
  <h1 class="text-2xl font-semibold text-gray-700">Images</h1>
  <%= link_to "New Image", new_image_path, class: "text-sm font-semibold text-white bg-blue-500 hover:bg-blue-700 py-2 px-4 rounded" %>
</div>
<%= render "color_key" %>
<div class="w-full mx-auto overflow-clip">
<%= paginate @images %>
</div>
  <%= render "utils/search", search_path: images_path, show_user_images_only: true %>
<h1 class="text-2xl font-semibold text-gray-700">Showing <%= @images.count %> of <%=@total_images %> Images</h1>
<div id="images" class="grid grid-cols-3 md:grid-cols-8 lg:grid-cols-12 gap-2 my-6 pb-10">
  <% @images.each do |image| %>
    <%= render image %>
  <% end %>
</div>
