<div class="relative">
  <h1 class="text-4xl font-bold text-blue-600 mb-6">
    <%= @image.label %>
  </h1>
  <p class="text-gray-600 mb-6">
    User: <%= @image.user&.name || "NO USER" %>
  </p>
  <p class="text-gray-600 mb-6">
    <%= @image.display_description %>
  </p>
  <p class="text-gray-600 mb-6">
    <%= @image.image_prompt %>
  </p>
  <div class="mx-auto w-1/2 flex justify-between bg-white p-4 rounded-lg shadow-md">
    <div class="my-auto w-1/3">
    <%= render "images/doc_form" %>
  </div>
  <div class="my-auto w-1/3">
    <h1 class="text-4xl font-bold text-gray-800 text-center">OR</h1>
  </div>
  <div class="my-auto w-1/3">
    <%= generate_image_button(@image) %>
  </div>
  </div>

<%= turbo_stream_from :doc_list %>
  <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6 mt-6" id="<%=@image.id%>_docs_list">
    <%= render partial: "docs/doc", collection: @image.docs %>
  </div>

  <div class="mt-6 flex justify-end">
    <%= button_to "Edit this image", edit_image_path(@image), method: :get, class: "text-blue-500 hover:text-blue-700 font-medium py-2 px-4 rounded-md" %>
    <%= button_to "Back to images", images_path, method: :get, class: "text-blue-500 hover:text-blue-700 font-medium py-2 px-4 rounded-md" %>
    <%= button_to "Destroy this image", @image, method: :delete, class: "text-red-500 hover:text-red-700 font-medium py-2 px-4 rounded-md" %>
  </div>
</div>