<div data-controller="navbar dropdown" id="main-navbar">
  <nav class="bg-gray-900 px-3 py-4 shadow-lg">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
      <%= link_to root_path, class: "flex items-center" do %>
        <%= image_tag "round_itty_bitty_logo_2.png", alt: "logo", class: "h-12 w-12" %>
        <h1 class="text-white text-3xl font-mono font-extrabold ml-2">SpeakAnyWay</h1>
      <% end %>

      <div class="relative hidden md:flex items-center space-x-6 text-white">
        <!-- Authentication and navigation links -->
        <% if user_signed_in? %>
          <%= button_tag team_nav, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm", data: { action: "click->dropdown#toggle", "tippy-content": "Change teams" } if current_user&.teams.count > 1 %>
          <%= link_to board_nav, boards_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
          <%= link_to menu_nav, menus_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
          <%= link_to image_nav, images_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
          <%= link_to shopping_cart_nav, carts_show_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" unless current_order && current_order.order_items.empty? %>
          <%= link_to tokens_nav, products_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm", data: { tippy_content: "Buy more tokens. You currently have #{current_user.tokens}." } %>
          <%= link_to user_nav, current_user, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-xs", data: { tippy_content: "Your Account: #{current_user}" } %>
          <%= link_to team_nav, @current_team, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm", data: { tippy_content: "Current Team: #{current_user.current_team&.name&.upcase}" } if current_user&.teams.count >= 1 %>
          <!-- Conditional admin links -->
          <%= link_to "Users", users_path, class: "hover:text-blue-300" if current_user.admin? %>
          <%= link_to "Docs", docs_path, class: "hover:text-blue-300" if current_user.admin? %>
          <%= link_to contact_nav, contact_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
          <%= button_tag demo_nav, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm", data: { action: "click->demo#clearCookie", "tippy-content": "Replay Demo" } %>
          <!-- User tokens and logout -->
          <%= button_to logout_nav, destroy_user_session_path, method: :delete, class: "hover:text-blue-300", form_class: "ml-4" %>
        <% else %>
                <%= link_to "About", about_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" if user_signed_in? && current_user.admin? %>

        <%= link_to "Contact", contact_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>

          <%= link_to "Sign up", new_user_registration_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
          <%= link_to "Sign In", new_user_session_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
        <% end %>

        <!-- Dropdown Menu -->
        <div id="new_dropdown" class="absolute hidden w-48 bg-gray-700 text-white py-2 mt-2 rounded shadow-xl" data-dropdown-target="content">
          <% if user_signed_in? %>
            
            
            <%= render "teams/set_current" %>

          <% end %>
        </div>
      </div>

      <!-- Hamburger menu for mobile -->
      <button class="md:hidden focus:outline-none focus:ring-2 focus:ring-blue-300 ml-2" data-action="click->navbar#toggle">
        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </button>

      <!-- Mobile menu -->
      <div class="hidden md:hidden text-white" data-navbar-target="menu">
        <div class="absolute top-0 left-0 w-full h-full bg-gray-900 bg-opacity-75" data-action="click->navbar#toggle"></div>
        <div class="absolute top-0 left-0 w-1/3 h-full bg-gray-900 z-50" data-navbar-target="content">
          <div class="flex flex-col items-center space-y-4 mt-16">
            <!-- Authentication and navigation links -->
            <% if user_signed_in? %>
              <%= link_to board_nav, boards_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
              <%= link_to menu_nav, menus_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
              <%= link_to user_nav, current_user, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
              <%= link_to team_nav, @current_team, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
              <!-- Conditional admin links -->
              <%= link_to "Users", users_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" if current_user.admin? %>
              <%= link_to "Docs", docs_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" if current_user.admin? %>
              <%= link_to image_nav, images_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
              <%= link_to new_board_nav, new_board_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
              <%= link_to new_menu_nav, new_menu_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
              <%= link_to new_image_nav, new_image_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
              <!-- User tokens and logout -->
              <%= link_to shopping_cart_nav, carts_show_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" unless current_order && current_order.order_items.empty? %>
              <%= link_to tokens_nav, products_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
              <%= button_to logout_nav, destroy_user_session_path, method: :delete, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
              <%= link_to login_nav, new_user_session_path, class: "text-blue-200 hover:text-white px-3 py-2 rounded-md text-sm" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<%= render "layouts/mobile_nav" %>