<!DOCTYPE html>
<html>
  <head>
      <title>IttyBittyBoards - Empowering Communication</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
      <script src="https://kit.fontawesome.com/7747fb4a3a.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-stone-50 font-sans" data-controller="notice">
      <%= render "layouts/navbar" %>
      <%= render "layouts/notice" %>
      <%= render "layouts/alert" %>

      <div class="container mx-auto px-4 mb-10 pt-4">
          <%= yield %>
      </div>

      <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/dialog.js"></script>
  </body>
</html>
