<!DOCTYPE html>
<html>
  <head>
      <title>SpeakAnyWay - Empowering Communication</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <script src="https://js.stripe.com/v3/"></script>
      <%= tag.meta name: "stripe-key", content: Pay::Stripe.public_key %>
      <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
      <script src="https://kit.fontawesome.com/7747fb4a3a.js" crossorigin="anonymous"></script>
  </head>

  <body class="relative min-h-screen bg-gradient-to-r from-indigo-100 to-indigo-200 font-mono" data-controller="notice fullscreen">
      <%= render "layouts/notice" %>
      <%= render "layouts/alert" %>

      <div id="main-screen" class="mx-auto min-h-screen">
          <%= yield %>
      </div>
      <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/dialog.js"></script>
  </body>
</html>
